<div class="franchise-bg">
    <!-- <div class="mat-horizontal-content-alignment"> -->
      <!-- <img src="assets/images/about.png" alt="Burger Image" style="height: 2rem; width: 2rem;"> -->
      <div class="text-container">
        <div class="welcome-heading">Welcome To FRYDAY franchise</div>
        <div class="sub-title1">FRYDAY is a fried chicken franchise which offers franchisors a unique way of operating things for the quickest ROI</div>
        <div class="sub-title2">fryday menu is filled with mouth watering items which are easy to pop and hard to stop</div>
      <!-- </div> -->
    </div>
  </div>