.multi-bg-example {
    width: 100%;
    height: 400px;
    background:
      linear-gradient(to right, rgb(30, 75, 115, 1), rgb(255, 255, 255, 0)),
      #6D001B,
      #B2472B;
    background-repeat: no-repeat;
    background-position:
      bottom right,
      left,
      right;
  }
.background {
    background: linear-gradient(to right, #6D001B 5%, #B2472B 100%);
    /* Add any additional styles you want */
    /* For example, you can set width and height to fill the entire page */ 
    height: 100%;
}