<div class="background">
 <!-- app.component.html -->
<div class="home-main--container">
  <div style="display: flex;flex-direction: column;">
 <div style="display: flex;flex-direction:column; padding-top: 8rem;">
  <div class="home-main--title">Order your favorite</div>
  <div style="padding-top: 1.5rem;">
    <p class="home-content--subtitle">food carvings in innovative and </p>
    <p class="home-content--subtitle">comfortable mode of eating.</p>
    <p class="home-content--about">Indulge in Irresistible Fresh-Cooked Fried </p>
    <p class="home-content--about">Chicken Delights!</p>
    <p class="home-content-desription">At FRYDAY, we take pride in delivering an exceptional culinary experience, and</p>
    <p class="home-content-desription">our freshly cooked fried chicken stands as a testament to our commitment to </p>
    <p class="home-content-desription">quality. Crafted with care and cooked to perfection, our fried chicken offerings </p>
    <p class="home-content-desription">promise a tantalizing symphony of flavors and textures that will leave your taste</p>
    <p class="home-content-desription"> buds craving for more.</p>
    <p class="home-content-desription">Using only the finest ingredients, our fried chicken is prepared with meticulous</p>
    <p class="home-content-desription">attention to detail. From selecting the choicest cuts of poultry to coating them in </p>
    <p class="home-content-desription">our secret blend of herbs and spices, every step of our cooking process is aimed</p>
    <p class="home-content-desription"> at ensuring maximum flavor and juiciness.</p>
  </div>
 </div>

</div>

 <div>dftgyh</div>
</div>
<div style="font-family: 'Anton', sans-serif;padding: 3rem 5rem;font-size:52px;"><a style="color: #FFB366;opacity: 0.3;">FRY</a><a style="color: #ffff;opacity: 0.3;">DAY</a></div>
</div>
